body, .wholeThing{
  font-family: helvetica;
  display: flex ;
  flex-direction: column;
  align-items: center;
  font-size:28px;
}

body{
  background: rgb(133, 175, 255);
}

.chat {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message{
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before, {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}


.wholeThing{
box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2); 
margin-top:5%;
 padding:20px;
 background:white;
 border-radius: 5px;
}

h2{
  font-weight: 400;
  font-size:30px;
  background-color: #eee;
  border-radius: 20px;
  padding: 8px 15px;
}

input{
  width:50px;
  padding:5px;
  height:20px;
  font-family: helvetica;
  font-size:25px;
  text-align: center;
}

#directions{
  margin-top:3%;
  font-family: 'Noto Sans Mono', monospace;
  text-align: center;
}



  @media screen and (min-width:701px) and (max-width: 950px){
    #directions{
      margin-top:8%;
      width:70%;
    }
}

@media screen and (max-width: 700px){

  .wholeThing, body{
font-size:20px;
  }
  .chat{
    width:100%;
  }

  .wholeThing{
    width:350px;
    margin-top:15%;
  }

  input{
    font-size:18px;
    width:30px;
    height:15px;
  }

  #directions{
    margin-top:10%;
    width:70%;
  }

  h2{
    font-size:18px;
  }
}